*{
    margin: 0;
    padding: 0;
}
body{
    background: #00a8a8;
    ;
}
.teste{
    width: 100%;
    position: relative;
    display: inline-block;
}
 .ul-portfolio{
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    top: 1%;
    left: 8%;
    font-size: 40px;
    list-style: none;
}
.img-portfolio{
    width: 100%;
}
.gato{
    list-style: none;
}
@media screen and (max-width: 1300px) {
    .ul-portfolio{
        font-size: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .ul-portfolio{
        font-size: 20px;
    }
}
@media screen and (max-width: 750px) {
    .ul-portfolio{
        font-size: 12px;
    }
}
.sobre{
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 40%;
    left: 50%;
    padding: 20px;
    color: white;
}